.navbar {
  height: 80px;
  position: absolute;
  z-index: 100;
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: space-between;

  .link {
    color: inherit;
    text-decoration: none;
  }

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;

      img {
        height: 35px;
        width: 35px;
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;

      .catItem {
        display: flex;
        gap: 40px;
        padding-left: 15px;
      }
    }

    .center {
      font-size: 30px;
      letter-spacing: 2px;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      z-index: 100;

    }

    .iconSec {
      display: flex;
      flex-direction: column;
      gap: 15px;
      cursor: pointer;

      .cartIcon {
        position: relative;

        span {
          font-size: 10px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #126dff;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}